.about--wrapper {
  min-height: 80vh;
  margin-bottom: 2rem;
  h2 {
    font-size: var(--fs-xl);
  }
  h3 {
    margin: 1.25em 0 0.25em 0;
    font-size: var(--fs-md);
    color: var(--gray);
  }
  &:hover {
    .about--skills div {
      animation: borderMove 5s ease-in-out infinite alternate;
    }
  }
}

.about--container {
  position: relative;
}

// about container layout //
.about--container {
  position: relative;
  z-index: 20;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;

  & > p,
  & > div {
    flex-basis: 100%;
  }

  @media (min-width: 769px) {
    flex-direction: row;
  }
}

.about--info {
  font-size: var(--fs-base);
  line-height: 1.8;
}

.about--skills {
  margin-top: 2em;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1.5em;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--gray);
    transition: color 200ms ease-in;
    &:hover {
      color: var(--accent);
      span {
        color: var(--accent);
      }
    }

    div {
      display: flex;
      place-items: center;
      padding: 0.75em;
      aspect-ratio: 1;
      background-color: var(--shadow);
      border-radius: 38% 62% 61% 39% / 45% 57% 43% 55%;
    }

    svg {
      width: var(--fs-lg);
      height: var(--fs-lg);
      font-size: var(--fs-lg);
    }

    span {
      color: var(--gray);
      font-size: var(--fs-sm);
      font-weight: 700;
      transition: 200ms color ease-in;
    }
  }
}

@keyframes borderMove {
  to {
    border-radius: 53% 47% 38% 62% / 39% 45% 55% 61%;
  }
}

// about work experience
.about--work {
  display: flex;
  flex-direction: column;

  .about--work-panel:not(:first-child) {
    margin-top: 1rem;
  }

  button {
    border: 0;
    background-color: transparent;
    width: 98%;
    padding: 1em 1em;
    font-size: var(--fs-md);
    font-weight: 700;
    text-align: left;
    background-color: var(--shadow);
    color: var(--black);
    border-radius: 0 100px 100px 0;
    opacity: 0.7;
    box-shadow: 2px 2px 0 0 var(--shadow);
    transition: opacity 200ms, color 200ms, background-color 200ms;

    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span {
      font-size: var(--fs-sm);
    }

    div span {
      display: block;
      font-size: var(--fs-base);
      font-weight: 500;
    }
  }

  .about--work-content {
    font-size: var(--fs-base);
    font-weight: 500;
    color: var(--gray);
    max-width: 95%;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
  }
}

.about--work-panel {
  &[data-selected="true"] button {
    background-color: hsl(248, 65%, 51%);
    color: white;
    opacity: 1;
  }

  box-sizing: border-box;
  flex-basis: 95px;
  overflow: hidden;
  transition: flex-basis 200ms ease-in, flex-grow 200ms ease-in;

  &[data-selected="true"] {
    flex-basis: clamp(15rem, 28rem, 80rem);
  }
  @media (min-width: 769px) {
    &[data-selected="true"] {
      flex-basis: clamp(15rem, 40vh, 20rem);
    }
  }
}

// patterns and overlays //
.about--overlay-text {
  top: 0;
  left: 0;
  font-size: 30rem;
  opacity: 0.03;
}

.about--pattern1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 12rem;
  height: fit-content;
  opacity: 0.1;

  display: none;
  @media (min-width: 769px) {
    display: block;
  }

  path {
    stroke: var(--accent);
    stroke-width: 0.8px;
  }
}
