.about--wrapper {
  h2 {
    font-size: var(--fs-xl);
  }
}

.about--container {
  position: relative;
  background-color: var(--accent);
  z-index: -1;

  &::after,
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }
  &::before {
    left: 100%;
  }
  &::after {
    right: 100%;
  }
}

// about container layout //
.about--container {
  max-height: 400px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2em;

  & > p,
  & > div {
    flex-basis: 100%;
  }
}

.about--info {
  padding-block: 3em;
  color: white;
}

.about--skills {
  background-color: var(--bg1);
  box-shadow: 6px 6px 0 0 var(--shadow), 12px 12px 0 0 var(--shadow);
}

// patterns and overlays //
.about--overlay-text {
  top: 0;
  left: 0;
  font-size: 30rem;
  opacity: 0.03;
}
