.portfolio--card {
  $shadow: var(--black);
  background-color: var(--bg1);
  box-shadow: 0 0 10px rgba($color: $shadow, $alpha: 1);

  button {
    padding: 1em 2em;
    background-color: transparent;
    border: 0;

    span {
      display: block;
      text-align: left;
      font-size: var(--fs-md);
      font-weight: 600;
    }
  }
}

.portfolio--card-img-wrapper {
  width: 300px;
  aspect-ratio: 1.5;
  padding: 2em;
  display: grid;
  place-items: center;

  img {
    width: 60%;
  }
}
