$whiteShadow: rgba(255, 255, 255, 0.2);

.portfolio--card {
  position: relative;
  box-shadow: 4px 4px 0 0 var(--shadow), 8px 8px 0 0 var(--shadow);
  border: 1px solid var(--shadow);
  max-width: 500px;
  width: 100%;
  overflow-x: hidden;

  & > button {
    width: 100%;
    position: relative;
    padding: 0;
    background-color: transparent;
    border: 0;
    overflow: hidden;

    &:hover,
    &:focus-visible {
      .see-more {
        transform: translate(-0.25rem, -0.25rem) scale(1.5);
        background-color: var(--accent);
        color: white;
      }

      .card-name {
        box-shadow: none;
        ul {
          opacity: 0.85;
        }
      }

      .portfolio--card-img-wrapper::after {
        opacity: 0;
      }

      .card-logo {
        opacity: 0;
      }
    }
  }
}

.card-name {
  position: relative;
  padding: 1em 1em;
  display: block;
  text-align: left;
  font-size: var(--fs-md);
  font-weight: 700;
  background-color: rgba(10, 2, 30, 0.9);
  box-shadow: 0 0 40px 10px rgba($color: $whiteShadow, $alpha: 0.1);
  color: white;
  z-index: 5;

  ul {
    margin-top: 0.5rem;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    opacity: 0.7;
    transition: opacity 200ms ease-in;
  }
}

.see-more {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;

  background-color: white;
  color: var(--black);
  font-weight: 700;
  font-size: 0.75rem;

  width: 4rem;
  aspect-ratio: 1;
  border-radius: 100% 50% 10%;
  white-space: pre;

  display: grid;
  place-items: center;
  transform: translate(0.25rem, 0.25rem);
  transition: all 200ms ease-in;
}

.portfolio--card-img-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.5;
  padding: 2em;
  display: grid;
  place-items: center;

  .card-logo {
    position: relative;
    width: 60%;
    height: auto;
    z-index: 10;
    transition: opacity 200ms ease-in;
    filter: drop-shadow(0 0 10px $whiteShadow);
    -webkit-filter: drop-shadow(0 0 10px $whiteShadow);

    &[data-smalllogo="true"] {
      padding: 2.75em;
    }

    &[data-flip-card="true"] {
      opacity: 0;
    }
  }

  .card-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    filter: saturate(150%);
    -webkit-filter: saturate(150%);

    &[data-center="true"] {
      object-position: center;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--black);
    opacity: 0.5;
    transition: opacity 200ms ease-in;
  }
}

// Card Flipped //
$flippedPadding: 1em;
.portfolio--card-flipped {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  color: white;
  font-size: var(--fs-sm);
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 20;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 200ms ease-in, opacity 200ms ease-in;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #0a021e, $alpha: 0.8);
    z-index: -1;
  }

  &[data-card-flip="true"] {
    transform: translateX(0);
    opacity: 1;
    pointer-events: visible;
  }

  p {
    font-size: var(--fs-base);
    font-weight: 500;
    text-align: center;
    margin-top: auto;
    padding-inline: $flippedPadding;
  }
}

.flipped-close {
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  border: 0;
  background-color: transparent;
  font-size: var(--fs-md);
  padding: 0.5em;

  svg {
    path {
      stroke: white;
      stroke-width: 4;
    }
  }
}

.flipped-actions {
  padding: 2.125em 1em;
  background-color: white;
  margin-top: auto;
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flipped-website {
  align-self: stretch;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5em 0.75em;
  white-space: nowrap;

  font-size: var(--fs-base);
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.flipped-github {
  color: var(--black);
  text-decoration: none;

  padding: 0.5em 0.75em;

  font-size: var(--fs-base);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;

  transition: color 200ms ease-in;

  &:hover,
  &:focus-visible {
    color: var(--accent);
  }
}
