.portfolio--subsection {
  margin-block: 1.5em;

  & > ul {
    padding-left: 0;
    padding-block: 1em;
    list-style: none;

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 769px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 916px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
