.portfolio {
  h2 {
    font-size: var(--fs-xl);
  }

  .portfolio--subtitle {
    font-size: var(--fs-md);
    color: var(--gray);
  }
}

//  patterns and overlay //
.portfolio--overlay-text {
  top: 0;
  left: 0;
  font-size: 25rem;
  font-weight: 700;
  opacity: 0.03;
}

.portfolio--pattern1 {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.5);
  path {
    fill: var(--accent);
  }
}
