.textfield {
  .label {
    display: block;
    font-weight: 600;
    font-size: var(--fs-base);
  }

  position: relative;
  z-index: 2;
  text-align: left;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--gray);
  overflow: hidden;
  transition: color 200ms;

  &[data-focus="true"] {
    color: var(--accent);
  }

  &[data-blur="true"] {
    textarea,
    input {
      &:valid ~ .input-bar {
        background-image: linear-gradient(
          to right,
          var(--accent),
          var(--accent)
        );
        background-size: 100% 100%;
      }
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--accent);
  }

  input,
  textarea {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 50px;
    border-radius: 0;

    border: 1px solid rgba($color: #000, $alpha: 0.4);
    background-color: transparent;
    -webkit-transition: border-color 200ms;
    transition: border-color 200ms;
    font-size: var(--fs-base);
    outline: 1px solid transparent;
    background-color: rgba($color: #f9f9f9, $alpha: 0.6);

    @media (min-width: 769px) {
      height: 60px;
    }

    &:hover,
    &:focus-visible {
      outline-offset: -1px;
    }
  }

  textarea {
    min-width: 100%;
    resize: none;
    height: 250px;
  }

  &[data-blur="true"] {
    textarea,
    input {
      &:valid ~ .input-bar {
        background-image: linear-gradient(
          to right,
          var(--accent),
          var(--accent)
        );
        background-size: 100% 100%;
      }
    }
  }
}

.input-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, var(--accent), var(--accent));
  background-size: 0 0;
  background-position: 0 100%;
  background-repeat: repeat-y;
  -webkit-transition: background-size 200ms ease-in;
  transition: background-size 200ms ease-in;
}

textarea:focus-visible ~ .input-bar,
input:focus-visible ~ .input-bar {
  background-size: 100% 100%;
}
