$paddingBlock: 0.25in;
$paddingInline: 0.25in;
// $paddingInline: 0in;
$fs: 13px;

.resume--section {
  margin-inline: auto;
  margin-block: 4rem;
  max-width: calc(1440px + (var(--section-padding) * 2));
  width: 100%;
  // padding-inline: var(--section-padding);
  padding-block: 4rem;
}

.resume--section-wrapper {
  margin-inline: auto;
  max-width: 8.5in;
  width: 100%;
  position: relative;
  background-color: #ebebef;
  padding-inline: $paddingInline;
  padding-block: $paddingBlock;
  width: 100%;
  aspect-ratio: 1 / 1.294;

  & > p {
    max-width: 80%;
    margin-block: 1rem;
  }

  hr {
    border-top-color: var(--shadow);
  }
}

.resume--rows-container {
  display: flex;
  align-items: flex-start;
}

.resume--section-wrapper {
  aside {
    position: absolute;
    right: $paddingInline;
    top: $paddingBlock;

    a {
      text-decoration: none;
      font-size: $fs;
      color: var(--gray);
      display: flex;
      align-items: center;
      gap: 0.25rem;
      transition: color 200ms ease;
      &:hover,
      &:focus-visible {
        color: var(--accent);
      }
    }
  }

  h1 {
    white-space: pre-line;
    font-size: calc(var(--fs-lg) + 1rem);
    color: var(--black);
  }

  h2 {
    font-size: calc(var(--fs-md) + 0.25rem);
    color: var(--gray);
    font-weight: 400;
  }

  h3 {
    font-size: var(--fs-base);
    font-size: 600;
  }

  p {
    font-size: 16px;
    color: var(--gray);
    line-height: 26px;
  }
}

$rowPadding: calc(1.5rem / 2);
.resume-row1 {
  padding-top: 1rem;
  padding-left: $rowPadding;
  display: flex;
  flex-direction: column;
}

.resume-row2 {
  padding-right: $rowPadding;
  border-right: 1px solid var(--shadow);
  & > p {
    margin-bottom: 1rem;
  }
}

// resume links
.resume--links {
  margin-bottom: 2.5rem;
  padding-left: 0;
  list-style: none;

  font-size: $fs;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  li a {
    text-decoration: none;
    color: var(--gray);

    display: flex;
    align-items: center;
    gap: 0.125rem;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    svg {
      width: 20px;
      display: flex;
      place-items: center;
    }
  }
}

// resume skills
.resume--skills {
  margin-top: 1rem;
  padding-left: calc($fs * 1.5);
  list-style: circle;
  font-size: $fs;
  font-weight: 400;
  color: var(--gray);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    display: block;
  }
}

// experience
.resume--experience {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h3 {
    color: var(--accent);
  }

  article {
    & > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > span {
        color: var(--gray);
        font-weight: 400;
        font-size: 14px;
      }
    }
    h3 {
      font-weight: 600;
      span {
        color: var(--gray);
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  p {
    margin-block: 0.5rem;
  }

  ul {
    font-size: 16px;
    padding-left: calc(16px * 1.5);
    color: var(--gray);

    display: flex;
    flex-direction: column;
    gap: 0.6125rem;
    li {
      line-height: 26px;
    }
  }
}

.resume--experience-header {
  h3 {
    position: relative;
    z-index: 1;
    display: inline;
    font-size: calc(var(--fs-base) + 0.25rem);
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 6px;
      width: 100%;
      background-color: var(--shadow);
      z-index: -1;
    }
  }
}
