.home--wrapper {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  @media (min-width: 1125px) {
    flex-direction: row;
  }
}

// description container
.home--desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 769px) {
    align-items: flex-start;
    text-align: left;
  }

  .home--overline {
    display: block;
    color: var(--gray);
    font-size: var(--fs-lg);
    font-weight: 400;
  }

  h1 {
    font-size: var(--fs-extra-large);
    line-height: 1;
    padding-bottom: 1rem;
    @media (min-width: 1025px) {
      font-weight: 800;
    }
  }

  h2 {
    font-size: var(--fs-lg);
    font-weight: 600;

    br {
      display: none;
      @media (min-width: 769px) {
        display: block;
      }
    }
  }

  .hero--action-btn {
    padding: 1rem 2.5rem;
    margin: 1.5em 0 3.5em;
    text-decoration: none;
    font-size: var(--fs-md);
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .hero--about {
    margin-top: auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    p {
      align-self: start;
      max-width: 250px;
      font-size: var(--fs-sm);
      color: var(--gray);
      padding: 0.75em;
    }

    a {
      justify-self: center;
    }

    @media (min-width: 426px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

// image container
.hero--img-wrapper {
  max-width: 800px;
  width: 100%;
  aspect-ratio: 1;
  img {
    height: 100%;
    width: 100%;
  }
}

// patterns and decorations //
.home--overlay-text {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
  font-size: 25rem;
  z-index: -1;
  font-weight: 800;
  line-height: 1;
  color: white;

  text-shadow: 2px 2px 0 var(--accent);
  opacity: 0.05;
}

.hero--pattern1 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate(-50%, -50%) scale(1.5) rotate(45deg);

  path {
    stroke: var(--accent);
    opacity: 0.2;
  }

  @media (min-width: 670px) {
    display: block;
  }
}

.hero--title-wrapper {
  position: relative;

  .hero--pattern2 {
    position: absolute;
    bottom: 100%;
    right: 0;

    @media (min-width: 769px) {
      transform: scale(2);
    }
    path {
      stroke: var(--accent);
      stroke-width: 1;
    }
  }
}

.hero--pattern3 {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
  path {
    stroke-width: 0.5;
    stroke: var(--accent);
  }
  @media (min-width: 426px) {
    transform: scale(1.5);
  }
}
