.section {
  position: relative;

  .section--wrapper {
    margin-inline: auto;
    max-width: calc(1440px + (var(--section-padding) * 2));
    padding-inline: var(--section-padding);
    padding-block: 5rem;
  }
}
